<div class="container">
    <mat-card *ngFor="let noticie of notices" class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ noticie.title }}</mat-card-title>
          <mat-card-subtitle>{{ noticie.date | date : 'dd/MM/yyyy HH:mm' }}</mat-card-subtitle>
        </mat-card-header>       
        <mat-card-content>
          <p>
            {{ noticie.body }}
          </p>
        </mat-card-content>        
      </mat-card>          
</div>
