<div class="label-data">
    Data: {{ jogo.dataJogo | date:'dd/MM/yyyy HH:mm' }}
</div>
<div class="label-data">
    Conferido: {{ jogo.conferido == true ? 'Sim' : 'Não' }}
</div>
<div>
    <p class="label">
        Aqui está as suas apostas
    </p>
</div>
<div>
    <div *ngFor="let numero of jogo.numeros; let i = index" class="balls" >
        <div (click)="checkNumber(numero)" [ngStyle]="{'background-color': !numero.check ? '#4d477d' : 'green'}" class="label-aposta">Aposta {{ i + 1 }} - Marcar como jogada</div>        
        <div *ngFor="let n of numero.nros" class="circle">
            <span>{{ n }}</span>
        </div>
    </div>       
</div>
<div style="padding-top: 25px;text-align: center;margin-bottom: 25px;">
    <button (click)="salvarJogo()" mat-raised-button style="background-color: #6ebb6e;
        color: white;
        height: 50px;
        width: 180px;">
        Salvar aposta
    </button>
</div>