<div class="container">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title style="font-size: 18px; font-weight: 600; color: #666;">
                    Padrão 8 - 16 números
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Escolha <span style="font-weight: 600; color: #673ab7">SETE</span> números e o sistema vai gerar <span style="font-weight: 600; color: #673ab7">NOVE</span> jogos para você apostar.</p>
            <p>Dessa forma teremos 16 números em nove cartões da Lotofácil.</p>
            <button mat-raised-button color="primary">Escolher</button>
        </mat-expansion-panel>
        
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title style="font-size: 18px; font-weight: 600; color: #666;">
                    Padrão 7 - 17 números
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Escolha <span style="font-weight: 600; color: #673ab7">OITO</span> números e o sistema vai gerar <span style="font-weight: 600; color: #673ab7">TRINTA E SEIS</span> jogos para você apostar.</p>
            <p>Dessa forma teremos 17 números em trinta e seis cartões da Lotofácil.</p>
            <button mat-raised-button color="primary">Escolher</button>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title style="font-size: 18px; font-weight: 600; color: #666;">
                    Padrão 6 - 18 números
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Escolha <span style="font-weight: 600; color: #673ab7">NOVE</span> números e o sistema vai gerar <span style="font-weight: 600; color: #673ab7">OITENTA E QUATRO</span> jogos para você apostar.</p>
            <p>Dessa forma teremos 18 números em oitenta e quatro cartões da Lotofácil.</p>
            <button mat-raised-button color="primary">Escolher</button>
        </mat-expansion-panel>        

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title style="font-size: 18px; font-weight: 600; color: #666;">
                    Padrão 5 - 19 números
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Escolha <span style="font-weight: 600; color: #673ab7">DEZ</span> números e o sistema vai gerar <span style="font-weight: 600; color: #673ab7">126</span> jogos para você apostar.</p>
            <p>Dessa forma teremos 19 números em 126 cartões da Lotofácil.</p>
            <button mat-raised-button color="primary">Escolher</button>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title style="font-size: 18px; font-weight: 600; color: #666;">
                    Padrão 4 - 20 números
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Escolha <span style="font-weight: 600; color: #673ab7">ONZE</span> números e o sistema vai gerar <span style="font-weight: 600; color: #673ab7">126</span> jogos para você apostar.</p>
            <p>Dessa forma teremos 20 números em 126 cartões da Lotofácil.</p>
            <button mat-raised-button color="primary">Escolher</button>
        </mat-expansion-panel>
        
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title style="font-size: 18px; font-weight: 600; color: #666;">
                    Padrão 3 - 21 números
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Escolha <span style="font-weight: 600; color: #673ab7">DOZE</span> números e o sistema vai gerar <span style="font-weight: 600; color: #673ab7">84</span> jogos para você apostar.</p>
            <p>Dessa forma teremos 21 números em 84 cartões da Lotofácil.</p>
            <button mat-raised-button color="primary">Escolher</button>
        </mat-expansion-panel>
        
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title style="font-size: 18px; font-weight: 600; color: #666;">
                    Padrão 2 - 22 números
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Escolha <span style="font-weight: 600; color: #673ab7">TREZE</span> números e o sistema vai gerar <span style="font-weight: 600; color: #673ab7">36</span> jogos para você apostar.</p>
            <p>Dessa forma teremos 22 números em 36 cartões da Lotofácil.</p>
            <button mat-raised-button color="primary">Escolher</button>
        </mat-expansion-panel>
        
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title style="font-size: 18px; font-weight: 600; color: #666;">
                    Padrão 1 - 23 números
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Escolha <span style="font-weight: 600; color: #673ab7">QUATORZE</span> números e o sistema vai gerar <span style="font-weight: 600; color: #673ab7">9</span> jogos para você apostar.</p>
            <p>Dessa forma teremos 23 números em 9 cartões da Lotofácil.</p>
            <button mat-raised-button color="primary">Escolher</button>
        </mat-expansion-panel>                        
    </mat-accordion>

    <p class="boa-sorte">Boa sorte!</p>
</div>