<div *ngIf="padraoSelecionado == 0" class="container">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title style="font-size: 18px; font-weight: 600; color: #666;">
                    Método 9 Jogos - Escolha 7 Números
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Escolha <span style="font-weight: 600; color: #673ab7">SETE</span> números e o sistema vai gerar <span style="font-weight: 600; color: #673ab7">NOVE</span> jogos para você apostar.</p>
            <p>Dessa forma teremos 16 números em nove cartões da Lotofácil.</p>
            <p>15 pontos, a chance de acerto é de 1 em 204.297</p>
            <p>14 pontos, a chance de acerto é de 1 em 3.026</p>
            <p>13 pontos, a chance de acerto é de 1 em 162</p>
            <p>12 pontos, a chance de acerto é de 1 em 21</p>
            <p>11 pontos, a chance de acerto é de 1 em 5</p>
            <div style="text-align: center;"> 
                <button (click)="padrao8()" mat-raised-button color="primary">Escolher</button>
            </div>            
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title style="font-size: 18px; font-weight: 600; color: #666;">
                    Método 36 Jogos - Escolha 8 Números
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Escolha <span style="font-weight: 600; color: #6f6088">OITO</span> números e o sistema vai gerar <span style="font-weight: 600; color: #673ab7">TRINTA E SEIS</span> jogos para você apostar.</p>
            <p>Dessa forma teremos 17 números em trinta e seis cartões da Lotofácil.</p>
            <p>15 pontos, a chance de acerto é de 1 em 24.035</p>
            <p>14 pontos, a chance de acerto é de 1 em 600</p>
            <p>13 pontos, a chance de acerto é de 1 em 49</p>
            <p>12 pontos, a chance de acerto é de 1 em 9</p>
            <p>11 pontos, a chance de acerto é de 1 em 3</p>
            <div style="text-align: center;"> 
                <button (click)="padrao7()" mat-raised-button color="primary">Escolher</button>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title style="font-size: 18px; font-weight: 600; color: rgb(11, 131, 37);">
                    Método 11 Jogos - Inteligêncial artifical
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>O sistema utiliza inteligência artificial para gerar os 11 jogos, com probabilidades altissímas de ganho.</p>
            <p>15 pontos, a chance de acerto é de 1 em 8.032</p>
            <p>14 pontos, a chance de acerto é de 1 em 213</p>
            <p>13 pontos, a chance de acerto é de 1 em 35</p>
            <p>12 pontos, a chance de acerto é de 1 em 7</p>
            <p>11 pontos, a chance de acerto é de 1 em 2</p>
            <div style="text-align: center;"> 
                <button (click)="padrao6()" mat-raised-button color="primary">Escolher</button>
            </div>            
        </mat-expansion-panel>                                      
    </mat-accordion>

    <p class="boa-sorte">Boa sorte!</p>
</div>
<div *ngIf="padraoSelecionado != 0 && padraoSelecionado != 6">
    <app-layout-numeros [nroPadrao]="padraoSelecionado"></app-layout-numeros>
</div> 
<div *ngIf="padraoSelecionado == 6">
    <app-layout-resultado (close)="voltar($event)" [jogo]="jogo"></app-layout-resultado>
</div> 
